<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Memo List</title>
	<link type="text/css" rel="Stylesheet" href="../css/styles.css" />
</head>
<body>

<div id="msg-load" class="horizontal-center">Loading...</div>


<h3 id='memo-list-heading' class="horizontal-center"></h3>
<div id="search" class="horizontal-center">
	<p>Enter search keywords separated by ","</p>
	<input id="search-input" type="text" required>
	<button id="search-enter-btn">Search</button>
</div>
	<table class="horizontal-center">
		<tr id="header-row">
			<th>Date</th>
			<th>Title</th>
			<th>Memo</th>
			<th>User</th>
		</tr>
	</table>

</body>
</html>